*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(65deg, rgba(181,41,231) , rgba(255,164,238,1) , rgba(216,43,43) );
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: white;
    margin-top: 100px;
}
form{
    margin-top: 50px;
    background: #fff;
    box-shadow: -3px 6px 4px #222;
}
form input{
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 5px;
}
form button{
    width: 50px;
    height: 40px;
    border: none;
    background: teal;
    color: white;
    outline: none;
    cursor: pointer;
}
.container{
    margin-top: 50px;

}
ul{
    list-style: none;
    width: 500px;
}
ul li {
    width: 100%;
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 5px 0;
    box-shadow: -3px 6px 4px #222;
}
ul li span {
    top: 0;
    right: 0;
    width: 50px;
    text-align: center;
    color: #e00;
    font-size: 20px;
    font-weight: bold;
    
}
/* ul li i ,span{
    position: relative;
    top: 0%;
    left: 70%;
    margin-left: 7px;
    
} */

/****/
.green {
    background-color: green;
}

.edit {
    background-color: blue;
    cursor: pointer;
}

.tkharbi9a{
    display: flex;
    
}